<h1>Brielle Robinson</h1>  
<main>
    <div class= "about">
  <span class = "photo">
    <img src = "../assets/headshot.PNG">
  </span>
  <p>
      I'm Brielle Robinson, a March 2020 Grand Circus Front End bootcamp graduate. After obtaining my BBA in Marketing/French
      from Saginaw Valley State University and working in the Finance & 
      Hospitality industries for several years, I'm excited to get my career started in tech! I want to 
      continue learning, creating, growing and developing my skills as a software engineer, my experience as of now
      include: HTML5, CSS3, Javascript, Typescript, Angular 8+, NodeJS, SQL, Github
  </p>

      <p>Please browse my projects under the Projects tab and feel free to contact me!</p>
</div>
</main>