<span>
    <div class = "project1">
    <h3>Maeda Money</h3>
        <img src = "../../assets/Maeda Money.JPG">
        <button>View Demo</button>
        <button>View Code</button>
    </div>
    <div class = "project2">
     <h3>UPVoice GR</h3>   
        <img src = "../../assets/UpvoiceGR.JPG">
        <button>View Demo</button>
        <button>View Code</button>
    </div>
    <div class = "project3">
        <h3>Triple B's Recipes</h3>
        <img src = "../../assets/Recipe API.JPG">
        <button>View Demo</button>
        <button>View Code</button>
    </div>
    <div class = "project4">
        <h3>Quarantining With Bri</h3>
        <img src = "../../assets/Journal.JPG">
        <button>View Demo</button>
        <button>View Code</button>
    </div>
</span>


